# Bloquear todo por defecto (scripts, xmls locales, etc.)
*

# Solo permitir el archivo generado y su compresión
!dummy.xml
!dummy.tar.gz

# Permitir el gitignore para que Git sepa qué filtrar
!.gitignore
